p, a:link, a:visited, h2 {
  color: azure;
}

a:hover {
  color: #fff99c;
}

body {
  background-color: dimgray;
}

dd {
  color: #deeff5;
}

dt {
  color: #deeff5;
}

h1 {
  color: #deeff5;
}

img {
  opacity: .8;
}

.dropcap {
  color: #fff99c;
}

.epi {
  color: black;
  padding-bottom: 1em;
  text-indent: 0;
}

.logo {
  color: white;
}

#copyright {
  color: lightsteelblue;
}
