dd {
  color: #778899;
  margin-left: 1em;
  padding-bottom: .75em;
  padding-top: .25em;
}
    
h1 {
  color: #778899;
  font-size: 2.25em;
  text-align: center;
}   

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

kanji {
  color: #778899; 
  font-family: "Mincho";
} 

rt {
  font-family: "Roboto", sans-serif;
  font-size: 45%;
}

ruby { 
  ruby-overhang: whitespace;
  ruby-position: center;
}

.button {
  border: none;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: .25em;
  margin-right: .25em;
  padding: 4px 13px 4px 13px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button:hover {
  border-radius: 50%;
  padding-left: 13px; 
  padding-right: 13px;
  padding-top: 14px;
}

#copyright {
  margin: auto; 
  padding-top: 1em; 
  text-align: center;
  width: 36%
}

#logo {
  color: #778899;
  font-family: "Mincho";
  font-size: 4em; 
  margin: .5em auto .5em auto; 
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl
}  

#menu {
  margin: auto;
  width: 30%;
}

#themepicker {
  margin: auto;
  padding-bottom: 1em;
  text-align: center;
  width: 30%;
}

/* iPhone 6 portrait */
@media only screen 
 and (min-device-width: 375px) 
 and (max-device-width: 667px) 
 and (orientation: portrait) { 
   #themepicker {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
　　}
    }

/* iPhone 6 landscape */
@media only screen 
 and (min-device-width: 375px)
 and (max-device-width: 667px) 
 and (orientation: landscape) { 
}
 
/*iPad Pro 9.7" portrait */
@media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 2) {
}
