    dl {
      font-family: "Roboto", sans-serif;
    }

    dd {
      color: #778899;
      margin-left: 1em;
      padding-bottom: .75em;
      padding-top: .25em;
    }
    
    h1 {
    color: #778899;
    font-family: "Roboto", sans-serif;
    font-size: 250%;
    text-align: center;
    }   

    html {
      font-size: 18px;
    }
    
    p {
      font-family: "Roboto", sans-serif;
    }

    rt {
      font-family: "Roboto", sans-serif;
      font-size: 45%;
    }

    ruby { 
      ruby-overhang: whitespace;
      ruby-position: center;
    }

    .button {
      border: none;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin-left: .25em;
      margin-right: .25em;
      padding: 4px 13px 4px 13px;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

    .button:hover {
      border-radius: 50%;
      padding-left: 13px; 
      padding-right: 13px;
      padding-top: 14px;
    }

    .kanji {
      color: #778899; 
      font-family: "Mincho";
    } 

    .logo {
      color: #778899;
      font-family: "Mincho";
      font-size: 400%; 
      margin: auto; 
      padding-bottom: 1em;
      padding-top: .25em;
      writing-mode: vertical-rl;
      -webkit-writing-mode: vertical-rl
    }  

    .menu {
    margin: auto;
    width: 30%;
    padding: 10px;
    }

    .themepicker {
    padding-bottom: 1em;
    }

/* iPhone 6 portrait */
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (orientation: portrait) { 
      h1 {margin-top, margin-bottom: -1em;}
      html {font-size: 55px}
      body {height: 70%}
      .button { 
         border: none;
         border-radius: 50%;
         display: inline-block;
         text-align: center;
         text-decoration: none;
         height: 70px;
         width: 60px;
         margin-left: .25em;
         margin-right: .25em;
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
      }   
      .menu {width: 70%;}
      .themepicker {font-size: 3em;}
    }

/* iPhone 6 landscape */
    @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px) 
    and (orientation: landscape) { 
      h1 {margin-top, margin-bottom: -1em;}
      html {font-size: 35px; -webkit-text-size-adjust: none}
      body {height: 70%;}
      .button { 
         border: none;
         border-radius: 50%;
         display: inline-block;
         text-align: center;
         text-decoration: none;
         height: 45px;
         width: 40px;
         margin-left: .25em;
         margin-right: .25em;
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
      }   
      .logo {font-size: 300%}
      .menu {width: 70%;}
    }
 
/*iPad Pro 9.7" portrait */

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      html {font-size: 24px; -webkit-text-size-adjust: none}
      body {height: 70%;}  
      h1 {font-size: 50px}
    }
